
api_token = ""

client_config = {
    "web_host": "http://127.0.0.1:18376/vicky",
    "default_bot": "",
    "name": "",
    "image": "rabbit.png"
}

actions = [
    {
        "label": "翻译为中文",
        "prompt": "{}\n将以上内容翻译成中文："
    },
    {
        "label": "翻译为英语",
        "prompt": "{}\nTranslate the above into English:"
    },
]
