
api_token = ""

client_config = {
    "web_host": "http://127.0.0.1:18376/vicky",
    "default_bot": "",
    "name": "",
    "image": "rabbit.png"
}

INSTRUCTIONS = [
    {
        "label": "翻译为中文",
        "prompt": "Instruction : Given an input sentence translate it into Chinese sentence. \ninput : {}\Chinese : "
    },
    {
        "label": "翻译为英语",
        "prompt": "Instruction : Given an input sentence translate it into English sentence. \ninput : {}\nEnglish : "
    },
]
